@import url("https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Black&family=Cairo+Play&family=Covered+By+Your+Grace&family=Fragment+Mono&family=Heebo:wght@800&family=Inter:wght@700&family=Overpass:wght@400;700&family=PT+Sans:wght@700&family=Quantico:ital,wght@1,700&family=Rajdhani:wght@700&family=Raleway&family=Roboto:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

#root {
  overflow-y: scroll;
}

.navbar {
  height: 10vh;
  background-color: #871336;
}

.cart_elms {
  margin-bottom: 10vh;
}

.cart {
  display: flex;
  justify-content: flex-end;
  width: -webkit-fill-available;
}

.link {
  text-align: center;
}

.back_cart {
  display: inline-block;
}

.cart_nav {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  align-items: center;
}

.drawer {
  position: fixed;
  top: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 60vw;
  right: 0;
  transition: 0.5s ease;
  background-color: white;
  height: 100vh;
}

.account {
  position: inherit;
  display: flex;
  margin-left: 22px;
}

.acc {
  padding: 1rem;
  width: 22vw;
}

.cut {
  cursor: pointer;
  position: absolute;
  top: 2vh;
  left: 0;
  padding: 0.5rem 1.5rem;
}

.banner {
  height: 17vw;
  width: -webkit-fill-available;
  padding: 0;
  margin: 0px 14rem;
}

.info {
  text-align: center;
  padding-top: 2rem;
  top: 31px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.banner_image {
  background-size: contain;
  height: 100%;
}

.box {
  background-size: contain;
  width: 50vw;
  margin-left: 1rem;
}

.disp_cart {
  position: absolute;
  right: 2rem;
}

.disp_back {
  position: absolute;
  left: 2rem;
}

.category {
  height: stretch;
  width: 100vw;
  overflow: scroll;
}

.category-name {
  font-family: "Heebo";
  font-size: 2rem;
  display: inline-block;
  margin-left: 1rem;
  margin-top: 1rem;
}

img {
  max-width: none;
}

.image {
  width: 20vw;
  object-fit: contain;
  height: 11vw;
}

.cart_main {
  display: grid;
}

.chk_btn {
  border-radius: 5px;
}

.back {
  left: 10px;
}

.cart-img {
  width: 20vw;
  object-fit: contain;
}

.cart-heading {
  font-family: "Rajdhani", sans-serif;
  text-align: center;
  font-size: 2rem;
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  display: inline-block;
}

.empty {
  display: flex;
  flex-direction: column;
  margin-top: 20vh;
  font-size: 8vh;
  justify-content: center;
  align-items: center;
  font-family: "Rajdhani";
}

.empty-cart {
  font-family: "Rajdhani";
}

.title {
  font-family: "Raleway";
  text-align: center;
}

.selected-product-image {
  height: 24vw;
  margin: 2rem 0;
  width: 20vw;
}

.selected-product {
  width: 80vw;
  margin: 0 auto;
  height: max-content;
  overflow: scroll;
}

.s-prod {
  height: 100vh;
  margin-top: 1rem;
}

.rate-price {
  width: 45vw;
  margin: 2rem 0;
}

.description {
  margin-bottom: 2rem;
  width: 46vw;
  text-align: justify;
  font-family: "Overpass";
}

.name {
  font-family: "Heebo";
  font-size: 1.5rem;
  width: 46vw;
  flex-direction: column;
}

.form {
  display: grid;
}

.cart_icon:hover {
  color: darkgoldenrod;
  cursor: pointer;
}

.links {
  cursor: pointer;
}

.links:hover {
  font-weight: bold;
  transition: 0.2s;
}

.cart_total {
  width: 100%;
}

.checkout {
  display: grid;
  grid-template-rows: 0fr 1fr 0fr;
  height: 90vh;
  /* place-items: center; */
}

.checkout-head {
  font-family: "Rajdhani";
  font-size: 2rem;
  padding: 2rem 0;
}

.place-order {
  font-family: "Inter";
}

.footer {
  font-family: "Cairo Play";
  width: 100vw;
}

.welcome {
  font-family: "Cairo Play";
  font-size: 3vw;
}

.inps {
  width: -webkit-fill-available;
  height: 10vh;
  border-radius: 12px;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  border: none;
  text-indent: 20px;
}

.section {
  display: flex;
}

.section1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.logo {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  padding: 0 1rem;
}

.address {
  width: 100%;
  text-align: left;
  overflow-wrap: break-word;
  text-transform: capitalize;
}

.acc_title {
  font-weight: bold;
}

.account_info {
  padding: 0.5rem;
  border-radius: 12px;
  background-color: ghostwhite;
  box-shadow: -5px 3px 62px -33px rgba(0, 0, 0, 0.75);
  z-index: 2;
  color: black;
  position: absolute;
  top: 14vh;
  border: 2px solid black;
  right: 4vw;
  width: max-content;
}

.login {
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 60vw;
  margin: auto;
}

.submit {
  width: -webkit-fill-available;
  height: 10vh;
  border: none;
  border-radius: 12px;
  font-size: 1.2rem;
  color: rgb(59, 58, 58);
  font-family: "Inter";
  background: linear-gradient(145deg, #7ad79a, #90ffb7);
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.form {
  height: 60vh;
  position: relative;
  width: 80vw;
  left: 0;
  right: 0;
  align-items: center;
  gap: 0.5rem;
  margin: auto;
}

.bars {
  width: 31px;
  background-color: white;
  height: 5px;
  margin: 2px auto;
}

.barbox {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.inp1 {
  grid-column: 1/-1;
  width: -webkit-fill-available;
}

.inp2 {
  width: -webkit-fill-available;
  justify-content: flex-end;
}
.inp3 {
  width: -webkit-fill-available;
  left: 0;
}

.inp4 {
  grid-column: 1 / -1;
  width: -webkit-fill-available;
}

.inp5 {
  grid-column: 1/-1;
  width: -webkit-fill-available;
  background: linear-gradient(145deg, #7ad79a, #90ffb7);
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.order_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 2rem;
}

.order_image {
  width: 13vw;
  margin: 2rem;
}

.s-prod {
  display: flex;
  flex-direction: column;
}

.disp_nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

@media (min-width: 0px) and (max-width: 400px) {
  .box {
    width: 90vw;
    margin-right: 0.5rem;
  }

  .banner {
    margin: 0;
    height: 37vw;
  }

  .image {
    object-fit: contain;
    margin: auto;
  }

  .empty-cart {
    font-size: 2rem;
  }

  .empty :is(a) {
    font-size: 1rem;
    margin-top: 2rem;
  }

  .cart_icon {
    width: 1.5rem;
    position: relative;
    top: -7px;
  }

  .title {
    font-size: 12px;
  }

  .drawer {
    width: 60vw;
  }

  .rating {
    font-size: 12px;
  }

  .price {
    font-size: 18px;
  }

  .cart {
    display: flex;
    justify-content: flex-end;
    width: -webkit-fill-available;
  }

  .bars {
    width: 24px;
    background-color: white;
    height: 3px;
    margin: 2px auto;
  }

  .navbar {
    height: 8vh;
  }

  .selected-product {
    height: auto;
    width: 72vw;
    place-content: space-evenly;
  }

  .description {
    font-size: 12px;
  }

  .name {
    font-size: 15px;
    flex-direction: column;
  }

  .rate-price {
    width: 100%;
    display: flex;
    margin-top: 5vh;
    justify-content: center;
  }

  .head {
    width: 100%;
  }

  .cart_icon1 {
    display: block;
    position: relative;
    left: 16px;
  }

  .cart_nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-content: center;
    height: 6vh;
    padding: 1rem 0.5rem;
  }

  .s-prod {
    height: max-content;
    min-height: 90vh;
    overflow: scroll;
    justify-content: center;
  }

  .chk_btn {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: max-content;
    font-size: 13px;
  }

  .cart-heading {
    font-size: 18px;
    display: inline-block;
    position: static;
  }

  .form {
    top: 30vh;
  }

  .checkout-head {
    padding: 0;
  }

  .account_info {
    top: 10vh;
  }

  .acc {
    width: 61vw;
  }

  .disp_cart {
    right: 1rem;
    top: 1.5rem;
  }

  .disp_back {
    left: 0.8rem;
    top: 1.5rem;
  }

  .cart_title {
    font-size: 12px;
  }

  .cart_btn {
    padding: 0px;
    height: 2rem;
    font-size: 12px;
    width: 2rem;
  }

  .quantity {
    font-size: 12px;
  }

  .image {
    height: 30vw;
  }
}
